
footer{
    height: 30vh;
}

.boxSocial{
    background-color: #005695;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    nav{
      width: 16vw; 
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
}

.boxEnd{
    background-color: #232020;
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1000px){
    .boxSocial{
        nav{
            // border: solid 2px red;
            width: 220px;
        }
    }
}

@media(max-width: 479px){
    .boxSocial{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .boxEnd{
        p{
            text-align: center;
        }
    }
}